<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script>
function goback() {
	window.history.back();
}

function parse_json() {
	
	var json = JSON.parse({{parsed_json|tojson}});
	var jsonpretty = JSON.stringify(json, undefined, 2);
	var labelpretty = document.getElementById("jsonpretty");
	labelpretty.innerHTML = jsonpretty;
	labelpretty.hidden = false;
}

function get_table() {
	request = new XMLHttpRequest();
	request.open("POST", "/getiptable", true);
	request.onreadystatechange = display_table;
	request.send(null);

}

function display_table() {
	if (request.readyState == 4 && request.status == 200) {
            unparsed_json = JSON.parse(request.responseText);
            var table = document.getElementById("ipInfoTable");

            for (var i = 0; i < unparsed_json.length; i++) {
                var row = table.insertRow(i+1);
                var ip = row.insertCell(0);
                ip.innerHTML = unparsed_json[i].ip;
                var loc = row.insertCell(1);
                loc.innerHTML = unparsed_json[i].loc;
                var postal = row.insertCell(2);
                postal.innerHTML = unparsed_json[i].postal;
                var city = row.insertCell(3);
                city.innerHTML = unparsed_json[i].city;
                var country = row.insertCell(4);
                country.innerHTML = unparsed_json[i].country;
                var region = row.insertCell(5);
                region.innerHTML = unparsed_json[i].region;
                var hostname = row.insertCell(6);
                hostname.innerHTML = unparsed_json[i].hostname;
                var phone = row.insertCell(7);
                phone.innerHTML = unparsed_json[i].phone;
                var time = row.insertCell(8);
                time.innerHTML = unparsed_json[i].time;
                var org = row.insertCell(9);
                org.innerHTML = unparsed_json[i].org;

            }


	}

}

window.onload = function(){
parse_json();
get_table();

};

</script>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Giant</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home.html">Home</a></li>
      <li class="active"><a href="displayip.html">Ip Info</a></li>
      <li><a href="displaydomain.html">Who Is</a></li>
      <li><a href="displaywhatis.html">What Is</a></li>
	  <li><a href="displayevent.html">Event</a></li>
    </ul>
  </div>
</nav>
<form action="/ipinfo" method="post">
	<div class="container">
		<h1>Ip Info</h1>
		<p>Enter an IP: </p>
		<input type="text" name="ip"><br>
		<button class="btn btn-default" type="submit">Submit</button>
	</div>
</form>

<pre hidden='hidden' id = "jsonpretty"></pre>
<div class="table-responsive">
<table id="ipInfoTable" class="table">
    <tr>
        <th>IP</th>
        <th>Location</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>Country</th>
        <th>Region</th>
        <th>Hostname</th>
        <th>Phone</th>
        <th>Time</th>
        <th>Organization</th>
    </tr>
</table>
    </div>
 
</body>